.header {
  padding: 10px 30px;
  border-bottom: 1px solid lightgrey;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.btn {
  display: table;
  padding: 15px 30px;
  color: rgb(120, 17, 253);
  border-radius: 5px;
  border: 2px solid rgb(120, 17, 253);
  transition: .2s all ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(120, 17, 253);
  color: white;
}

.center-abs {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Generic classes */

.row {
  display: flex;
  flex-flow: row wrap;
}
.col {
  display: flex;
  flex-flow: column wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }

.center-v { align-items: center; }
.center-h { justify-content: center; }

.ml-1 { margin-left: 5px; }
.ml-2 { margin-left: 20px; }
.ml-3 { margin-left: 50px; }
.ml-4 { margin-left: 150px; }
.ml-5 { margin-left: 300px; }

.mr-1 { margin-right: 5px; }
.mr-2 { margin-right: 20px; }
.mr-3 { margin-right: 50px; }
.mr-4 { margin-right: 150px; }
.mr-5 { margin-right: 300px; }

.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 50px; }
.mb-4 { margin-bottom: 150px; }
.mb-5 { margin-bottom: 300px; }

.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 20px; }
.mt-3 { margin-top: 50px; }
.mt-4 { margin-top: 150px; }
.mt-5 { margin-top: 300px; }
